<app-navbar></app-navbar>

<form class="form-signin d-flex align-items-center flex-column text-center mt-3">
    <h1 class="h3 mb-3 font-weight-normal">Créer un nouvel article</h1>

    <div class="col-4 align-self-center">
        <input type="text" id="inputTheme" class="form-control mb-3" placeholder="Sélectionner un thème">
        <input type="text" id="inputTitle" class="form-control mb-3" placeholder="Titre de l'article">
        <textarea class="form-control" id="inputDescription" rows="10" placeholder="Contenu de l'article"></textarea>
    </div>

    <button class="btn btn-md btn-primary btn-block" type="submit">Créer</button>
</form>