<app-navbar></app-navbar>

<form class="form-signin d-flex align-items-center flex-column text-center mt-3">
    <h1 class="h3 mb-3 font-weight-normal">Profil utilisateur</h1>

    <div class="col-4 align-self-center">
        <input type="text" id="inputEmail" class="form-control mb-3" placeholder="Nom d'utilisateur">
        <input type="password" id="inputPassword" class="form-control" placeholder="E-mail">
    </div>

    <button class="btn btn-md btn-primary btn-block" type="submit">Sauvegarder</button>
</form>
<hr>
<div class="d-flex align-items-center flex-column text-center mt-3">
    <h1 class="h3 mb-3 font-weight-normal">Abonnements</h1>
</div>