<app-navbar></app-navbar>

<!-- Form to update username or email -->
<form class="form-signin d-flex align-items-center flex-column text-center mt-3" [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">Profil utilisateur</h1>

    <div class="col-4 align-self-center">
        <input type="text" class="form-control mb-3" placeholder="Nom d'utilisateur" formControlName="username">
        <input type="email"  class="form-control" placeholder="E-mail" formControlName="email">
    </div>

    <button class="btn btn-md btn-primary btn-block" type="submit" [disabled] = "form.invalid">Sauvegarder</button>
</form>
<hr>
<div class="d-flex align-items-center flex-column text-center mt-3">
    <h1 class="h3 mb-3 font-weight-normal">Abonnements</h1>
</div>


<!-- Most of subsribed themes from API -->
<div class="row row-cols-2">
    <div *ngFor="let theme of (themes$ | async)">
        <div class="col">
            <div class="card bg-light m-2">
                <div class="card-body">
                    <p class="card-title h4">{{theme.title}}</p>
                    <p class="card-text">{{theme.description}}</p>
                    <div class="text-center">
                        <button href="#" class="btn btn-primary">Se désabonner</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
