<app-navbar></app-navbar>

<form class="form-signin d-flex align-items-center flex-column text-center mt-3" [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">Créer un nouvel post</h1>

    <div class="col-4 align-self-center">

        <div class="form-group">
            <label class="mb-2" for="exampleFormControlSelect1">Sélectionner un thème</label>
            <select class="form-control mb-3" id="exampleFormControlSelect1" formControlName="topic">
                <option *ngFor="let topic of (topics$ | async)" [ngValue]="topic.title">
                    {{topic.title}}</option>
            </select>
          </div>

        <input type="text" id="inputTitle" class="form-control mb-3" placeholder="Titre de l'post" formControlName="title">

        <textarea class="form-control" id="inputDescription" rows="10" placeholder="Contenu de l'post" formControlName="content">
        </textarea>
    </div>

    <button class="btn btn-md btn-primary btn-block" type="submit" [disabled] = "form.invalid">Créer</button>
</form>
