<nav class="navbar navbar-light bg-light border-bottom">
    <a class="navbar-brand" routerLink="">
      <img src="/assets/logo_p6.png" class = "img-fluid" width="120px" alt="">
    </a>
</nav>

<form class="form-signin d-flex align-items-center flex-column text-center mt-3">
    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>

    <div class="col-4 align-self-center">
        <label for="inputEmail">E-mail ou nom d'utilisateur</label>
        <input type="text" id="inputEmail" class="form-control mb-3">

        <label for="inputPassword">Mot de passe</label>
        <input type="password" id="inputPassword" class="form-control">
    </div>
   
    <button class="btn btn-md btn-primary btn-block" type="submit">Se connecter</button>
</form>




