/* You can add global styles to this file, and also import other style files */

$body-color: #7D50DE;


body {  font-family: Roboto, "Helvetica Neue", sans-serif; }

button{
    margin-top: 1em;
    background-color: $body-color !important;
}

input{
    width:300;
}

ul {
    list-style-type: none;
}

