
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom justify-content-between">
  <a class="navbar-brand" routerLink="">
    <img src="/assets/logo_p6.png" class = "img-fluid" width="120px" alt="">
  </a>

  <div>
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
        [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item h5 m-3">
          <a class="nav-link" routerLink="/feed">Articles</a>
        </li>

        <li class="nav-item h5 m-3">
          <a class="nav-link" routerLink="/topics">Thèmes</a>
        </li>
        <li class="nav-item h5 m-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
          class="bi bi-person-circle" viewBox="0 0 16 16" routerLink="/profile">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="height:120px"></div>